div#cart {
    border: 2px solid #ccc;
    position: absolute;
    right: 0;
    z-index: 1000;
    background: #fff;
}

.body-cart i{
    cursor: pointer;
}

.cart-show {
    font-size: 25px;
    cursor: pointer;
}

header{
    position: relative;
    margin-top: 15px;
}

.page {
    border: 1px solid #ccc;
    padding: 15px;
    min-height: 600px;
    margin: 15px 0;
}

footer{
    background: #000;
    color:#ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
}